             * {
                   margin: 0;
                   padding: 0;
                   box-sizing: border-box;
            }



             body { margin: 0; font-family: sans-serif; background: #121212; color: white;}
           
            .header-footer {
                min-height: 60px;
                height: 60px;
                display: flex;
                width: 100%;
                box-sizing: border-box;
                align-items: center;
                justify-content: space-between;
                padding: 5px 50px;
                z-index: 1000;
                position: relative;
                background-color: black;
            }
            .header-footer .logo {
                display: flex;
                align-items: center;
                margin-left: 10px;
                line-height: 1;
            }
            .hamburger {
                display: flex;
                flex-direction: column;
                gap: 5px;
                cursor: pointer;
                z-index: 101;
            }
            .hamburger span {
                width: 30px;
                height: 3px;
                background-color: white;
                transition: 0.3s;
            }

            .nav-menu {
                position: absolute;
                top: 60px;
                right: -100%; /* Ekranın sağında gizli */
                background: rgba(26, 26, 26, 0.95);
                width: 200px;
                height: auto;
                display: none;
                flex-direction: column;
                padding: 20px;
                transition: 0.5s;
                border-radius: 0 0 0 20px;
                box-shadow: -5px 5px 15px rgba(0,0,0,0.5);
            }
            .nav-menu.active {
                right: 0; transition: 0.5s;
                display: flex;
            }
            .nav-menu a {
                color: white;
                text-decoration: none;
                padding: 15px;
                border-bottom: 1px solid #333;
                transition: 0.3s;
            }
            .nav-menu a:hover {
                color: #3498db;
                padding-left: 25px;
            }
            /* Hamburger X Şekline Dönüşsün */
            .hamburger.active span:nth-child(1) { transform: rotate(45deg) translate(5px, 6px); }
            .hamburger.active span:nth-child(2) { opacity: 0; }
            .hamburger.active span:nth-child(3) { transform: rotate(-45deg) translate(5px, -6px); }
